body {
   text-align: center;
}
.bgvid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
#cover {
   width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.moveup {
   position: absolute;
   z-index: 1;
   left: 25%;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-variation-settings: "wdth" 200;
  color: white;
}
h, p {
   color: white;
   top: -3%;
   padding: 1em;
}
.report {
   height: 7rem;
   width: 15rem;
   border-radius: 10;
}
