body {
   text-align: center;
}
body, html {
   overflow: auto;
}
.bgvid {
    position: relative;
    width: 100%vw;
    height: 100vh;
    overflow: auto;
}
#cover {
   width: 100%vw;
    height: 100%vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-attachment: fixed;
}
.moveup {
   position: absolute;
   display: flex;
   top: -4;
   z-index: 1;
   left: 55%;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-variation-settings: "wdth" 100;
  color: white;
}
h {
   position: absolute;
   font-size: 1.3rem;
   margin-top: 0rem;
   top: 0rem;
   width: 20rem;
   transform: translateY(20%);
}
.roboto-jnr {
   position: absolute;
   color: white;
   top: 4.5%;
   left: 5rem;
}
img {
   position: absolute;
   display: flex;
   top: 6%;
   left:0;
   width: 98vh;
   height: 31rem;
   margin: auto;
}
.report {
   height: 7rem;
   width: 17rem;
   transform: translateY(40rem);
   border-radius: 10%;
   color: green;
   background-color: white;
}
#select { 
   height: 3rem;
   width: 10rem;
   transform: translateY(35rem);
   background-color: white;
   color: green;
}
