body {
   text-align: center;
}
body, html {
   overflow: auto;
}
.bgvid {
    position: relative;
    width: 100%vw;
    height: 100vh;
    overflow: auto;
}
#cover {
   width: 100%vw;
    height: 100%vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-attachment: fixed;
}
.moveup {
   position: absolute;
   display: flex;
   top: -4;
   z-index: 1;
   left: 55%;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-variation-settings: "wdth" 100;
  color: white;
}
h {
   position: absolute;
   font-size: 1.3rem;
   margin-top: 0rem;
   top: 0rem;
   width: 20rem;
   transform: translateY(20%);
}
.roboto-jnr {
   position: absolute;
   color: white;
   top: 4.5%;
   left: 5rem;
}
img {
   position: absolute;
   display: flex;
   top: 6%;
   left:0;
   width: 99vh;
   height: 31rem;
   margin: auto;
   z-index: 0;
}
.report {
   height: 7rem;
   width: 17rem;
   transform: translate(-5rem,36.5rem);
   border-radius: -2% 5%;
   color: green;
   background-color: white;
   z-index: 0;
}
.categorywrapper{ 
   position: absolute;
   height: 1.5rem;
   width: 10rem;
   transform: translate(7rem,34rem);
   background-color: white;
   color: green;
   border-radius: -10%;
   user-select: none;
   cursor: pointer;
   z-index: 1;
}
.select-header {
    background: white;
    padding: 8px;
}
.select-options {
    display: none;
    margin-top: 5px;
    padding-left: 0;
    list-style: none;
    border: 1px solid #ddd;
}
.categorywrapper.open .select-options {
    display: block;
}
.category-group {
    padding: 6px;
}
.category-group .options-group {
    list-style: none;
    padding-left: 15px;
    display: none;
}
.category-group.expanded .options-group {
    display: block;
}
.options-group li {
    padding: 4px 0;
    cursor: pointer;
}