body {
   text-align: center;
}
body, html {
   overflow: auto;
}
.bgvid {
    position: relative;
    width: 100%vw;
    height: 100vh;
    overflow: auto;
}
#cover {
   width: 100%vw;
    height: 100%vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.moveup {
   position: absolute;
   display: flex;
   top: -3%;
   z-index: 1;
   left: 55%;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-variation-settings: "wdth" 600;
  color: white;
}
h {
   position: absolute;
   font-size: 1.3rem;
   margin-top: 0rem;
   top: 0rem;
   transform: translateY(23%);
}
h, p {
   position: absolute;
   color: white;
   transform: translateY(26%);
   padding: 1.3rem;
}
.report {
   height: 7rem;
   width: 17rem;
   transform: translateY(40rem);
   border-radius: 10%;
}
