body {
   text-align: center;
}
.bgvid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
#cover {
   width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
}
.moveup {
   position: absolute;
   top: -3%;
   z-index: 1;
   left: 37%;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-variation-settings: "wdth" 700;
  color: white;
  font-size: 3rem;
}
h, p {
   position: absolute;
   color: white;
   transform: translateY(20%);
   padding: 1em;
}
.report {
   height: 7rem;
   width: 17rem;
   transform: translateY(45rem);
   border-radius: 12%;
}
