.bgvid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#cover {
   width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.moveup {
   position: absolute;
   transform: translateY(0);
   z-index: 1;
}