body {
   text-align: center;
}
body, html {
   overflow: auto;
}
.bgvid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
#cover {
   width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.moveup {
   position: absolute;
   top: -3%;
   z-index: 1;
   left: 40%;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-variation-settings: "wdth" 700;
  color: white;
}
h {
   position: absolute;
   font-size: 1rem;
   top: -3;
}
h, p {
   position: absolute;
   color: white;
   transform: translateY(29%);
   padding: 1em;
}
.report {
   height: 7rem;
   width: 17rem;
   transform: translateY(40rem);
   border-radius: 10%;
}
